{% extends 'base.html.twig' %}

{% block title %}Les produits{% endblock %}

{% block content %}
<div class="row">
    {% for product in products %}
       <div class="col-md-4">
       <div class="product-item">
       <img src="/uploads/{{product.illustration}}" alt="{{product.name}}" class="img-fluid"/>
       <h5>{{product.name}}</h5>
       <span class="product-subtitle">{{product.subtitle}}</span>
       <span class="product-price">{{(product.prix / 100)}} €</span>
       </div>
       </div>
    {% endfor %}
</div>
{% endblock %}
