
<div class="product-item text-center">
<article class="card">
    <div class="card__img">
        <a href={{ path('product', { 'slug': product.slug }) }}><img src="/uploads/{{product.illustration}}" alt="{{product.name}}" class="img-fluid"/></a>
    </div>
    <div class="card__name">
        <p>{{ product.name }}</p>
    </div>
    <div class="card__precis">
        <a href="" class="card__icon" ><ion-icon name="heart-outline"></ion-icon></a> 
        <div>
            <span class="card__preci card__preci--before">{{ product.subtitle }}</span>
            <span class="card__preci card__preci--now">{{( product.prix / 100 )}} €</span>
        </div>
        <a href="" class="card__icon"><ion-icon name="cart-outline"></ion-icon></a>
    </div>
</article>
</div>